<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/"><i class="fas fa-angle-double-left"></i> All Products</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Update Products</h2>
                <span class="text-light">Use below Form to Update a Product</span>
            </div>

                        <!-- form handling -->
                        <form method="POST" id="update_user">
                            <div class="new_user">
                                <div class="form-group">
                                    <label for="name" class="text-light">Prodcut_Name</label>
                                    <input type="hidden" name="id" value="">
                                    <input type="text" name="name" value="" placeholder="Enter Product Name">
                                </div>
            
                                <div class="form-group">
                                    <label for="name" class="text-light">Category_Name</label>
                                    <input type="text" name="name" value="" placeholder="Enter Category Name">
                                </div>
            
                                <div class="form-group">
                                    <label for="name" class="text-light">Category_Id</label>
                                    <input type="text" name="name" value="" placeholder="Enter Category ID">
                                </div>
                            </div>
            
                            <div class="form-group">
                                <button type="submit" class="btn text-dark update">Save</button>
                            </div>
            
                        </form>

        </div>
    </main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->