            <!-- form handling -->
            <form method="POST" id="add_user">
                <div class="new_user">
                    <div class="form-group">
                        <label for="name" class="text-light">Product_Name</label>
                        <input type="hidden" name="id" value="">
                        <input type="text" name="name" value="" placeholder="Enter Product Name">
                    </div>

                    <div class="form-group">
                        <label for="name" class="text-light">Category_Name</label>
                        <input type="text" name="name" value="" placeholder="Enter Category Name">
                    </div>

                    <div class="form-group">
                        <label for="name" class="text-light">Category_ID</label>
                        <input type="number" name="id" value="" placeholder="Enter Category Id">
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Save</button>
                </div>

            </form>